<div class='row content-font'>
  <h2 class='blog-content text-center col-9'> Article of the day </h4>
  <% unless @space_info[:error] %>
    <div class="card mb-3 col-9" style="max-height: auto;">
      <%= image_tag(@space_info['url'], class: 'card-img-top card-details') %>
      <div class="card-body">
        <h3 class="card-title"><%= @space_info['title']%></h3>
        <p class="card-text"><%= @space_info['explanation']%></p>
        <p class="card-text"><small class="text-muted">Date: <%= @space_info['date']%></small></p>
      </div>
    </div>
  <% end %>
  <div class='col-3 bg-light'>
    <h2 class='text-center card-details'>
      <%= link_to 'Covid Updates', covid_updates_path %>
    </h2>
    <div class='row blog-content justify-content-center'>
        <%= form_with url: welcome_home_path, method: 'get' do %>
          <%= select_tag 'country', options_for_select(Country.all.order(:name).collect{ |country| [country.name, country.slug] }, (params['country'])), prompt: 'Select Country',onchange: "this.form.submit();"%>
        <% end %>
        <% unless @latest_status.blank? || @latest_status[:error] %>
          <table class='table table-sm'>
            <tbody>
              <tr>
                <td> Confirmed Cases </td>
                <td><%= @latest_status['Confirmed'] %></td>
              </tr>
              <tr>
                <td> Deaths </td>
                <td><%= @latest_status['Deaths'] %></td>
              </tr>
              <tr>
                <td> Recovered </td>
                <td><%= @latest_status['Recovered'] %></td>
              </tr>
              <tr>
                <td> Active </td>
                <td><%= @latest_status['Active'] %></td>
              </tr>
              <tr>
                <td> Date of Record </td>
                <td><%= Date.parse(@latest_status['Date']) %></td>
              </tr>
            </tbody>
          </table>
          <%= pie_chart(
            { "Confirmed" => @latest_status['Confirmed'],
              "Deaths" => @latest_status['Deaths'],
              "Recovered" => @latest_status['Recovered'],
              "Active" => @latest_status['Active']
            },
            colors: ['orange','red','green','blue']
          )%>
        <% end %>
        <% unless @summary.blank? || @summary[:error]%>
          <h4 class='sidebar-section'> Global Updates </h4>
          <table class='table table-sm'>
            <tbody>
              <tr>
                <td> New Confirmed </td>
                <td><%= @summary['Global']['NewConfirmed'] %></td>
              </tr>
              <tr>
                <td> Total Confirmed </td>
                <td><%= @summary['Global']['TotalConfirmed'] %></td>
              </tr>
              <tr>
                <td> New Deaths </td>
                <td><%= @summary['Global']['NewDeaths'] %></td>
              </tr>
              <tr>
                <td> Total Deaths </td>
                <td><%= @summary['Global']['TotalDeaths'] %></td>
              </tr>
              <tr>
                <td> New Recovered </td>
                <td><%= @summary['Global']['NewRecovered'] %></td>
              </tr>
              <tr>
                <td> Total Recovered </td>
                <td><%= @summary['Global']['TotalRecovered'] %></td>
              </tr>
            </tbody>
          </table>
        <% end %>
    </div>
  </div>
</div>