<% if @blog %>
  <div class="card text-center content-font card-details">
    <div class="card-header">
      <h3>New Article Published!!</h3>
    </div>
    <div class="card-body">
      <h4 class="card-title"><%= @blog.title %></h4>
      <p class="lead card-text"><%= @blog.description %></p>
      <%= link_to  "Read More", blog_path(@blog.id), class: 'btn btn-primary' %>
    </div>
    <div class="card-footer text-muted">
      <b>Authored By:</b> <%= @blog.author %> | <b>Category:</b> <%= @blog.category.titleize%>
    </div>
  </div>
<% end %>