<div class='content-font'>
    <%= form_with model: @blog do |f| %>
        <div class='row blog-content justify-content-center'>
            <%= f.text_field :title, placeholder: 'Title', size: '60x10' %>
        </div>
        <div class='row blog-content justify-content-center'>
            <%= f.text_field :author, placeholder: 'Author', size: '60x10' %>
        </div>
        <div class='row blog-content justify-content-center'>
            <%= f.text_field :category, placeholder: 'Category', size: '60x10' %>
        </div>
        <div class='row blog-content justify-content-center'>
            <%= f.text_field :description, placeholder: 'Description', size: '60x10' %>
        </div>
        <div class='row blog-content justify-content-center'>
            <%= f.text_area :body, id: 'blog-body'%>
        </div>
        <div class='row blog-content justify-content-center'>
            <%= f.submit "Update", class: 'btn btn-primary' %>
        </div>
    <% end %>
</div>
<script>
    var easyMDE = new EasyMDE({
        autoDownloadFontAwesome: false,
        element: document.getElementById('blog-body'),
        showIcons: ['strikethrough', 'code', 'table', 'redo', 'heading', 'undo', 'heading-bigger', 'heading-smaller', 'heading-1', 'heading-2', 'heading-3', 'clean-block', 'horizontal-rule'],
        initialValue: document.getElementById('blog-body').value
    });
</script>