<div class='row content-font' style="margin: 2px;">
    <div class='card-deck col-9 mb-3'>
        <div class="card justify-content-center">
            <%= react_component("ApodData", { apodDataUrl: space_apod_path }) %> 
        </div>
        <div class="card justify-content-center">
            <%= react_component("ApodData", { apodDataUrl: space_apod_path }) %> 
        </div>
        <div class="card justify-content-center">
            <%= react_component("ApodData", { apodDataUrl: space_apod_path }) %> 
        </div>
    </div>
    <div class='col-3 bg-light overflow-auto right-nav-bar'>
        <h2 class='text-center card-details'>
            <%= link_to 'Covid Updates', covid_updates_path %>
        </h2>
        <%= react_component(
            "CountryCovidData",
            {
                countrySummaryUrl: country_summary_covid_updates_path,
                countries: Country.all.collect { |country| { name: country.name, slug: country.slug } }
            }
        ) %> 
        <h4 class='sidebar-section text-center'> Global Updates </h4>
        <%= react_component("GlobalCovidData", { globalSummaryUrl: global_summary_covid_updates_path }) %> 
    </div>
</div>