<%= render 'admins/admin_submenu' %>
<div class='row justify-content-center'>
  <div class='content-font'>
    <%= link_to 'Add new template', new_sendgrid_template_path, class: 'btn btn-primary btn-sm', style: 'margin-top: 20px;' %>
    <h3 style='margin-top: 10px; text-align: center;'> Active Templates </h3>
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th scope='col'>SL.NO.</th>
          <th scope='col'>Name</th>
          <th scope='col'>Code</th>
          <th scope='col'>Template ID</th>
          <th scope='col'>Version</th>
          <th scope='col'>Active</th>
          <th scope='col'>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @templates.active.each_with_index do |template, index| %>
          <tr>
            <td> <%= index+1 %> </td>
            <td> <%= template.name %> </td>
            <td> <%= template.code %> </td>
            <td> <%= template.template_id %> </td>
            <td> <%= template.version %> </td>
            <td class='text-success'> <%= template.active %> </td>
            <td>
              <%= button_to 'Deactivate', sendgrid_template_path(template.id), params: { sendgrid_template: { active: false } }, method: :put, class: 'btn btn-outline-danger btn-sm', data: { confirm: 'Are you sure you want to deactivate this template?' }%>
            </td>
            <td>
              <%= button_to 'Edit', edit_sendgrid_template_path(template.id), method: :get, class: 'btn btn-outline-dark btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <h3 style='margin-top: 50px; text-align: center;'> Inactive Templates </h3>
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th scope='col'>SL.NO.</th>
          <th scope='col'>Name</th>
          <th scope='col'>Code</th>
          <th scope='col'>Template ID</th>
          <th scope='col'>Version</th>
          <th scope='col'>Active</th>
          <th scope='col'>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @templates.not_active.each_with_index do |template, index| %>
          <tr>
            <td> <%= index+1 %> </td>
            <td> <%= template.name %> </td>
            <td> <%= template.code %> </td>
            <td> <%= template.template_id %> </td>
            <td> <%= template.version %> </td>
            <td class='text-danger'> <%= template.active %> </td>
            <td>
              <%= button_to 'Activate', sendgrid_template_path(template.id), params: { sendgrid_template: { active: true } }, method: :put, class: 'btn btn-outline-success btn-sm', data: { confirm: 'Are you sure you want to activate this template?' }%>
            </td>
            <td>
              <%= button_to 'Edit', edit_sendgrid_template_path(template.id), method: :get, class: 'btn btn-outline-dark btn-sm' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
