<!DOCTYPE html>
<html>
  <head>
    <title>Hypocryte</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <meta property="og:site_name" content="Hypocryte"/>
  <meta property="og:title" content="Music and Tech Blog"/>
  <meta property="og:description" content="Personal blog for sharing articles on tech, travel and food!"/>
  <meta property="og:type" content="blog"/>
  <meta property="og:image" content="https://hypocryte.s3.ap-south-1.amazonaws.com/hypocryte_thumbnail.png">
  <meta name="author" content="Vinod Dalavai">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'covid_updates', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css"/>
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <% name = 'success' if name == 'notice' %>
      <% name = 'danger' if name == 'alert' %>
      <%= content_tag :div, msg, class: "alert alert-#{name}" %>
    <% end %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Hypocryte', welcome_index_path, class: 'navbar-brand main-logo animate__animated animate__fadeInDown' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar01" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar01">
        <ul class="navbar-nav mr-auto  animate__animated animate__fadeInDown">
          <li class="nav-item categories <%= 'active' if params[:type] == 'music'%>">
            <%= link_to 'Music', blogs_path(params: { type: 'music' }), class: 'nav-link navbar-brand navbar-font' %>
          </li>
          <li class="nav-item categories <%= 'active' if params[:type] == 'tech'%>">
            <%= link_to 'Tech', blogs_path(params: { type: 'tech' }), class: 'nav-link navbar-brand navbar-font' %>
          </li>
          <li class="nav-item categories <%= 'active' if params[:type] == 'explore'%>">
            <%= link_to 'Explore', explores_path(params: { type: 'explore' }), class: 'nav-link navbar-brand navbar-font' %>
          </li>
          <li class="nav-item categories <%= 'active' if current_page? (new_blog_path) %>">
            <%= link_to 'Create an Article', new_blog_path, class: 'nav-link navbar-brand navbar-font' %>
          </li>
          <% if current_admin.present? %>
            <li class="nav-item categories <%= 'active' if current_page? (destroy_admin_session_path) %>">
              <%= link_to 'Logout', destroy_admin_session_path, method: :delete, class: 'nav-link navbar-brand navbar-font' %>
            </li>
          <% end %>
        </ul>
        <% if current_admin.present? %>
            <span class='navbar-text navbar-font animate__animated animate__fadeInRight'><b>Welcome, <%= current_admin.name %></b></span>
        <% end %>
      </div>
    </nav>
    <div class='container-fluid'>
      <%= yield %>
    </div>
  </body>
</html>
